.container {
    width: 200px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-right: 1px solid #eee;
}
.article {
    height: 44px;
    line-height: 44px;
    text-indent: 10px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.articleList {
    height: calc(100% - 50px);
    overflow: auto;
    padding-right: 20px;
}
