.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.right {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: calc(100% - 200px);
}
.toolbar {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.markdownContainer {
    flex: auto;
    display: flex;
}
.editorBox {
    height: calc(100vh - 156px);
}
